# Замените своими данными для подключения к базе данных.
DATABASE_URL="mysql://MySQLUsername:MySQLPassword@HostIP:3306/TableName"
# Замените отображаемым названием организации.
PUBLIC_COMPANY_NAME="Taskog."